<h1>Are you sure you want to delete the advert?</h1>

<form method="post">
    <button type="submit" class="btn btn-danger">Delete</button>
    <a href="/admin/advert" class="btn btn-warning">Cancel</a>
</form>