@model Tag
<h1>Are you sure you want to delete tag @Model.TagName</h1>
<form method="post">
    <button class="btn btn-danger">Delete</button>
    <a href="/admin/tag" class="btn btn-warning">Cancel</a>
</form>
