@model List<Tag>

<div class="mt-5">
    @foreach (var item in Model)
    {
        <a href="/tag/@item.SeoUrl" class="w-100 btn btn-dark" style="border-bottom: 1px solid gray">@item.TagName</a>
    }
</div>
