@model Category
<h1>Are you sure you want to delete category @Model.CategoryName</h1>
<form method="post">
    <button class="btn btn-danger">Delete</button>
    <a href="/admin/category" class="btn btn-warning">Cancel</a>
</form>
