@model Microsoft.AspNetCore.Identity.IdentityRole

<h1>Are you sure you want to delete @Model.Name?</h1>
<form method="post">
    <button class="btn btn-danger" type="submit">Delete</button>
    <a class="btn btn-warning" href="/admin/role">Cancel</a>
</form>