<div class="text-center pt-5">
    <h1>Article Created</h1>
    <p>Your article will be considered. If it is okay it will be activated</p>
    <a href="/" class="btn btn-warning">Back To Home</a>
</div>
